<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">

  <div class="responsive-header">
    <div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
      <span class="mh-text">
				<a href="../../templates/templates/newsfeed.html" title=""><img src="../../../assets/images/logo2.png" alt=""></a>
			</span>
      <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
    </div>
    <div class="mh-head second">
      <form class="mh-form">
        <input placeholder="search" />
        <a href="#/" class="fa fa-search"></a>
      </form>
    </div>
    <nav id="menu" class="res-menu">
      <ul>
        <li><span>Home</span>
          <ul>
            <li><a href="index-2.html" title="">Home Social</a></li>
            <li><a href="index2.html" title="">Home Social 2</a></li>
            <li><a href="index-company.html" title="">Home Company</a></li>
            <li><a href="../../templates/templates/landing.html" title="">Login page</a></li>
            <li><a href="../../templates/templates/logout.html" title="">Logout Page</a></li>
            <li><a href="../../templates/templates/newsfeed.html" title="">news feed</a></li>
          </ul>
        </li>
        <li><span>Time Line</span>
          <ul>
            <li><a href="time-line.html" title="">timeline</a></li>
            <li><a href="timeline-friends.html" title="">timeline friends</a></li>
            <li><a href="timeline-groups.html" title="">timeline groups</a></li>
            <li><a href="timeline-pages.html" title="">timeline pages</a></li>
            <li><a href="timeline-photos.html" title="">timeline photos</a></li>
            <li><a href="timeline-videos.html" title="">timeline videos</a></li>
            <li><a href="fav-page.html" title="">favourit page</a></li>
            <li><a href="groups.html" title="">groups page</a></li>
            <li><a href="page-likers.html" title="">Likes page</a></li>
            <li><a href="people-nearby.html" title="">people nearby</a></li>


          </ul>
        </li>
        <li><span>Account Setting</span>
          <ul>
            <li><a href="create-fav-page.html" title="">create fav page</a></li>
            <li><a href="edit-account-setting.html" title="">edit account setting</a></li>
            <li><a href="edit-interest.html" title="">edit-interest</a></li>
            <li><a href="../../templates/templates/edit-password.html" title="">edit-password</a></li>
            <li><a href="../../templates/templates/edit-profile-basic.html" title="">edit profile basics</a></li>
            <li><a href="edit-work-eductation.html" title="">edit work educations</a></li>
            <li><a href="../../templates/templates/messages.html" title="">message box</a></li>
            <li><a href="inbox.html" title="">Inbox</a></li>
            <li><a href="notifications.html" title="">notifications page</a></li>
          </ul>
        </li>
        <li><span>forum</span>
          <ul>
            <li><a href="forum.html" title="">Forum Page</a></li>
            <li><a href="forums-category.html" title="">Fourm Category</a></li>
            <li><a href="forum-open-topic.html" title="">Forum Open Topic</a></li>
            <li><a href="forum-create-topic.html" title="">Forum Create Topic</a></li>
          </ul>
        </li>
        <li><span>Our Shop</span>
          <ul>
            <li><a href="shop.html" title="">Shop Products</a></li>
            <li><a href="shop-masonry.html" title="">Shop Masonry Products</a></li>
            <li><a href="shop-single.html" title="">Shop Detail Page</a></li>
            <li><a href="shop-cart.html" title="">Shop Product Cart</a></li>
            <li><a href="shop-checkout.html" title="">Product Checkout</a></li>
          </ul>
        </li>
        <li><span>Our Blog</span>
          <ul>
            <li><a href="blog-grid-wo-sidebar.html" title="">Our Blog</a></li>
            <li><a href="blog-grid-right-sidebar.html" title="">Blog with R-Sidebar</a></li>
            <li><a href="blog-grid-left-sidebar.html" title="">Blog with L-Sidebar</a></li>
            <li><a href="blog-masonry.html" title="">Blog Masonry Style</a></li>
            <li><a href="blog-list-wo-sidebar.html" title="">Blog List Style</a></li>
            <li><a href="blog-list-right-sidebar.html" title="">Blog List with R-Sidebar</a></li>
            <li><a href="blog-list-left-sidebar.html" title="">Blog List with L-Sidebar</a></li>
            <li><a href="blog-detail.html" title="">Blog Post Detail</a></li>
          </ul>
        </li>
        <li><span>Portfolio</span>
          <ul>
            <li><a href="portfolio-2colm.html" title="">Portfolio 2col</a></li>
            <li><a href="portfolio-3colm.html" title="">Portfolio 3col</a></li>
            <li><a href="portfolio-4colm.html" title="">Portfolio 4col</a></li>
          </ul>
        </li>
        <li><span>Support & Help</span>
          <ul>
            <li><a href="support-and-help.html" title="">Support & Help</a></li>
            <li><a href="support-and-help-detail.html" title="">Support & Help Detail</a></li>
            <li><a href="support-and-help-search-result.html" title="">Support & Help Search Result</a></li>
          </ul>
        </li>
        <li><span>More pages</span>
          <ul>
            <li><a href="careers.html" title="">Careers</a></li>
            <li><a href="career-detail.html" title="">Career Detail</a></li>
            <li><a href="../../templates/templates/404.html" title="">404 error page</a></li>
            <li><a href="404-2.html" title="">404 Style2</a></li>
            <li><a href="faq.html" title="">faq's page</a></li>
            <li><a href="insights.html" title="">insights</a></li>
            <li><a href="knowledge-base.html" title="">knowledge base</a></li>
          </ul>
        </li>
        <li><a href="../../templates/templates/about.html" title="">about</a></li>
        <li><a href="about-company.html" title="">About Us2</a></li>
        <li><a href="contact.html" title="">contact</a></li>
        <li><a href="contact-branches.html" title="">Contact Us2</a></li>
        <li><a href="widgets.html" title="">Widgts</a></li>
      </ul>
    </nav>
    <nav id="shoppingbag">
      <div>
        <div class="">
          <form method="post">
            <div class="setting-row">
              <span>use night mode</span>
              <input type="checkbox" id="nightmode"/>
              <label for="nightmode" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Notifications</span>
              <input type="checkbox" id="switch2"/>
              <label for="switch2" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Notification sound</span>
              <input type="checkbox" id="switch3"/>
              <label for="switch3" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>My profile</span>
              <input type="checkbox" id="switch4"/>
              <label for="switch4" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Show profile</span>
              <input type="checkbox" id="switch5"/>
              <label for="switch5" data-off-label="OFF"></label>
            </div>
          </form>
          <h4 class="panel-title">Account Setting</h4>
          <form method="post">
            <div class="setting-row">
              <span>Sub users</span>
              <input type="checkbox" id="switch6" />
              <label for="switch6" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>personal account</span>
              <input type="checkbox" id="switch7" />
              <label for="switch7" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Business account</span>
              <input type="checkbox" id="switch8" />
              <label for="switch8" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Show me online</span>
              <input type="checkbox" id="switch9" />
              <label for="switch9" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Delete history</span>
              <input type="checkbox" id="switch10" />
              <label for="switch10" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
              <span>Expose author name</span>
              <input type="checkbox" id="switch11" />
              <label for="switch11" data-off-label="OFF"></label>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div><!-- responsive header -->

  <div class="topbar stick">
    <div class="logo">
      <a title="" routerLink="/newsFeed"><img src="assets/images/logo-vinfast.png" alt=""
                                              style="width: 50px; height: 45px"><span
        style="font-weight: bold; font-size: 35px; position: absolute; margin-top: 2px; margin-left: -5px">inbook</span></a>
    </div>

    <div class="top-area">
      <ul class="main-menu">
        <li>
          <a href="#" title="">Home</a>
          <ul>
            <li><a href="index-2.html" title="">Home Social</a></li>
            <li><a href="index2.html" title="">Home Social 2</a></li>
            <li><a href="index-company.html" title="">Home Company</a></li>
            <li><a href="../../templates/templates/landing.html" title="">Login page</a></li>
            <li><a href="../../templates/templates/logout.html" title="">Logout Page</a></li>
            <li><a href="../../templates/templates/newsfeed.html" title="">news feed</a></li>
          </ul>
        </li>
        <li>
          <a href="#" title="">timeline</a>
          <ul>
            <li><a href="time-line.html" title="">timeline</a></li>
            <li><a href="timeline-friends.html" title="">timeline friends</a></li>
            <li><a href="timeline-groups.html" title="">timeline groups</a></li>
            <li><a href="timeline-pages.html" title="">timeline pages</a></li>
            <li><a href="timeline-photos.html" title="">timeline photos</a></li>
            <li><a href="timeline-videos.html" title="">timeline videos</a></li>
            <li><a href="fav-page.html" title="">favourit page</a></li>
            <li><a href="groups.html" title="">groups page</a></li>
            <li><a href="page-likers.html" title="">Likes page</a></li>
            <li><a href="people-nearby.html" title="">people nearby</a></li>
          </ul>
        </li>
        <li>
          <a href="#" title="">account settings</a>
          <ul>
            <li><a href="create-fav-page.html" title="">create fav page</a></li>
            <li><a href="edit-account-setting.html" title="">edit account setting</a></li>
            <li><a href="edit-interest.html" title="">edit-interest</a></li>
            <li><a href="../../templates/templates/edit-password.html" title="">edit-password</a></li>
            <li><a href="../../templates/templates/edit-profile-basic.html" title="">edit profile basics</a></li>
            <li><a href="edit-work-eductation.html" title="">edit work educations</a></li>
            <li><a href="../../templates/templates/messages.html" title="">message box</a></li>
            <li><a href="inbox.html" title="">Inbox</a></li>
            <li><a href="notifications.html" title="">notifications page</a></li>
          </ul>
        </li>
        <li>
          <a href="#" title="">more pages</a>
          <ul>
            <li><a href="../../templates/templates/404.html" title="">404 error page</a></li>
            <li><a href="../../templates/templates/about.html" title="">about</a></li>
            <li><a href="contact.html" title="">contact</a></li>
            <li><a href="faq.html" title="">faq's page</a></li>
            <li><a href="insights.html" title="">insights</a></li>
            <li><a href="knowledge-base.html" title="">knowledge base</a></li>
            <li><a href="widgets.html" title="">Widgts</a></li>
          </ul>
        </li>
      </ul>
      <ul class="setting-area">
        <li>
          <a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
          <div class="searched">
            <form method="post" class="form-search">
              <input type="text" placeholder="Search Friend">
              <button data-ripple><i class="ti-search"></i></button>
            </form>
          </div>
        </li>
        <li><a href="../../templates/templates/newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
        <li>
          <a href="#" title="Notification" data-ripple="">
            <i class="ti-bell"></i><span></span>
          </a>
          <div class="dropdowns">
            <span>4 New Notifications</span>
            <ul class="drops-menu">
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-1.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>sarah Loren</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag green">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-2.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Jhon doe</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag red">Reply</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-3.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Andrew</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag blue">Unseen</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-4.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Tom cruse</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-5.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Amy</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
            </ul>
            <a href="notifications.html" title="" class="more-mesg">view more</a>
          </div>
        </li>
        <li>
          <a href="#" title="Messages" data-ripple=""><i class="ti-comment"></i><span></span></a>
          <div class="dropdowns">
            <span>5 New Messages</span>
            <ul class="drops-menu">
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-1.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>sarah Loren</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag green">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-2.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Jhon doe</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag red">Reply</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-3.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Andrew</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag blue">Unseen</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-4.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Tom cruse</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
              <li>
                <a href="notifications.html" title="">
                  <img src="../../../assets/images/resources/thumb-5.jpg" alt="">
                  <div class="mesg-meta">
                    <h6>Amy</h6>
                    <span>Hi, how r u dear ...?</span>
                    <i>2 min ago</i>
                  </div>
                </a>
                <span class="tag">New</span>
              </li>
            </ul>
            <a href="../../templates/templates/messages.html" title="" class="more-mesg">view more</a>
          </div>
        </li>
      </ul>
      <div class="user-img">
        <img style="height:50px; width:50px" src="{{userPresent.avatar}}" alt="">
        <span class="status f-online"></span>
        <div class="user-setting">
          <a href="#" title=""><span class="status f-online"></span>online</a>
          <a href="#" title=""><span class="status f-away"></span>away</a>
          <a href="#" title=""><span class="status f-off"></span>offline</a>
          <a href="#" title=""><i class="ti-user"></i> view profile</a>
          <a href="#" title=""><i class="ti-pencil-alt"></i>edit profile</a>
          <a href="#" title=""><i class="ti-target"></i>activity log</a>
          <a href="#" title=""><i class="ti-settings"></i>account setting</a>
          <a href="#" title=""><i class="ti-power-off"></i>log out</a>
        </div>
      </div>
      <span class="ti-menu main-menu" data-ripple=""></span>
    </div>
  </div><!-- topbar -->

  <section>
    <div class="feature-photo">
      <figure><img src="../../../assets/images/resources/background3.jpg" alt=""></figure>
      <div class="add-btn" [ngSwitch]="checkRelationShip()" *ngIf="id != idUserPresent" style="color: white">
        <a *ngSwitchCase="'friend'" title="" data-ripple="" (click)="unfriend(id)" style="padding: 6px 10px">
          <i class="fa fa-user-times" aria-hidden="true" style="margin-right: 5px;font-size: 20px"></i>Unfriend</a>
        <a *ngSwitchCase="'confirm'" title="" data-ripple="" (click)="confirm(id)" style="margin-right: 15px; padding: 6px 10px">
          <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;font-size: 18px"></i>Confirm</a>
          <a *ngSwitchCase="'confirm'" title="" data-ripple="" (click)="deleteRequest(id)" style="padding: 6px 10px">
            <i class="fa fa-times" aria-hidden="true" style="margin-right: 5px;font-size: 18px"></i>Delete</a>
        <a *ngSwitchCase="'cancel request'" title="" data-ripple="" (click)="deleteRequest(id)" style="padding: 6px 10px">
          <i class="fa fa-user-times" aria-hidden="true" style="margin-right: 5px;font-size: 20px"></i>Cancel Request</a>
        <a *ngSwitchCase="'strange'" title="" data-ripple="" (click)="addFriend(id)" style="padding: 6px 10px">
          <i class="fa fa-user-plus" aria-hidden="true" style="margin-right: 5px;font-size: 20px"></i>Add Friend</a>
      </div>
<!--      <form class="edit-phto">-->
<!--        <i class="fa fa-camera-retro"></i>-->
<!--        <label class="fileContainer">-->
<!--          Edit Cover Photo-->
<!--          <input type="file"/>-->
<!--        </label>-->
<!--      </form>-->
      <div class="container-fluid">
        <div class="row merged">
          <div class="col-lg-2 col-sm-3">
            <div class="user-avatar">
              <figure>
                <img src = "{{user.avatar}}" alt="">
                <form class="edit-phto" *ngIf="id == idUserPresent">
                  <i class="fa fa-camera-retro"></i>
                  <label class="fileContainer">
                    Edit Display Photo
                    <input type="file" (change)="updateAvatar($event)"/>
                  </label>
                </form>
              </figure>
            </div>
<!--            <div style="text-align: center; position: absolute; margin-left: 50px">-->
<!--              <button style="border: none; border-radius: 10px; width: 45px; color: white; background: #0000ffd9; margin-right: 8px">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--              </button>-->
<!--              <button style="border: none; border-radius: 10px; width: 45px; background: #0000ffd9; margin-left: 8px">-->
<!--                <i class="fa fa-times" aria-hidden="true"></i>-->
<!--              </button>-->
<!--            </div>-->
          </div>
          <div class="col-lg-10 col-sm-9">
            <div class="timeline-info">
              <ul>
                <li class="admin-name">
                  <h5>{{user.fullName}}</h5>
                </li>
                <li>
                  <a class="active" href="time-line.html" title="" data-ripple="">time line</a>
                  <a class="" [routerLink]="'/friends/'+ user.id"  title="" data-ripple="">Friends</a>
                  <a class="" [routerLink]="'/edit-profile/'+ user.id " title="" data-ripple="">about</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- top area -->

  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
                    <h4 class="widget-title">Shortcuts</h4>
                    <ul class="naves">
                      <li>
                        <i class="ti-clipboard"></i>
                        <a routerLink="/newsFeed" title="">News feed</a>
                      </li>
                      <li>
                        <i class="ti-mouse-alt"></i>
                        <a href="inbox.html" title="">Inbox</a>
                      </li>
                      <li>
                        <i class="ti-files"></i>
                        <a href="fav-page.html" title="">My pages</a>
                      </li>
                      <li>
                        <i class="ti-user"></i>
                        <a href="timeline-friends.html" title="">friends</a>
                      </li>
                      <li>
                        <i class="ti-image"></i>
                        <a href="timeline-photos.html" title="">images</a>
                      </li>
                      <li>
                        <i class="ti-video-camera"></i>
                        <a href="timeline-videos.html" title="">videos</a>
                      </li>
                      <li>
                        <i class="ti-comments-smiley"></i>
                        <a href="../../templates/templates/messages.html" title="">Messages</a>
                      </li>
                      <li>
                        <i class="ti-bell"></i>
                        <a href="notifications.html" title="">Notifications</a>
                      </li>
                      <li>
                        <i class="ti-share"></i>
                        <a href="people-nearby.html" title="">People Nearby</a>
                      </li>
                      <li>
                        <i class="fa fa-bar-chart-o"></i>
                        <a href="insights.html" title="">insights</a>
                      </li>
                      <li>
                        <i class="ti-power-off"></i>
                        <a (click)="logout()" title="">Logout</a>
                      </li>
                    </ul>
                  </div>
                </aside>
              </div><!-- sidebar -->
              <div class="col-lg-6">
                <div class="loadMore">
                  <div class="central-meta" *ngIf="idUserPresent == id">
                    <div class="new-postbox">
                      <figure>
                        <img src="{{userPresent.avatar}}" alt="" style="height: 60px; width: 60px">
                      </figure>
                      <div class="newpst-input">
                        <form method="post">
                          <input class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                 placeholder="What's on your mind?"
                                 style="background: #f3f0f0; border: none; border-radius: 20px; width: 500px; height: 60px; text-align: left">
                        </form>
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                          <div class="modal-dialog">
                            <div class="modal-content" style="border-radius: 20px">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <span style="margin-left: 170px"><h3 id="postFormTitle">Create Post</h3></span>
                                <button type="button" class="close" data-dismiss="modal" (click)="clearFormCreatePost()">&times;</button>
                              </div>
                              <!-- Modal body -->
                              <div class="modal-body">
                                <form method="post" [formGroup]="formCreatePost">
                                  <div style="display: flex">
                                    <figure>
                                      <img src="{{userPresent.avatar}}" alt=""
                                           style="height: 60px; width: 60px; border-radius: 50%">
                                    </figure>
                                    <div class="friend-name" style="width: 390px">
                                      <ins><a>{{userPresent.fullName}}</a></ins>
                                      <select id="permissionPost" name="permissionPost">
                                        <option value="public"><i class="fa fa-globe" aria-hidden="true"
                                                                  style="margin-right: 5px"></i>Public
                                        </option>
                                        <option value="friend"><i class="fa fa-users" aria-hidden="true"
                                                                  style="margin-right: 5px"></i>Friend
                                        </option>
                                        <option value="private"><i class="fa fa-lock" aria-hidden="true"
                                                                   style="margin-right: 5px"></i>Private
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <input type="text" hidden formControlName="id">
                                  <div class="new-postbox">
                                    <div class="newpst-input">
                                      <textarea rows="2" placeholder="What's on your mind?"
                                                style="border: none" formControlName="content"></textarea>
                                      <div *ngIf="imageSrc != ''">
                                        <i class="fa fa-times" aria-hidden="true" style="float: left" (click)="deleteImage()"></i>
                                        <img [src]="imageSrc" alt=""
                                             style="width: 400px; margin-top: -10px; margin-left: 20px">
                                      </div>
                                      <div class="attachments" style="border: none; width: 430px">
                                        <ul>
                                          <li>
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            <label class="fileContainer">
                                              <input type="file">
                                            </label>
                                          </li>
                                          <li>
                                            <i class="fa fa-video-camera"></i>
                                            <label class="fileContainer">
                                              <input type="file">
                                            </label>
                                          </li>
                                          <li>
                                            <i class="fa fa-camera"></i>
                                            <label class="fileContainer">
                                              <input type="file" (change)="showPreview($event)">
                                            </label>
                                          </li>
                                        </ul>
                                      </div>
                                      <div class="modal-footer" style="border: none; width: 420px">
                                        <button type="submit" id="postButton" class="btn btn-danger" data-dismiss="modal"
                                                style="margin-right: -15px" (click)="createPost()"
                                                [disabled]="disablePost || formCreatePost.invalid">Post
                                        </button>
                                      </div>
                                    </div>
                                  </div><!-- add post new box -->
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- add post new box -->

                  <div *ngFor="let p of posts" class="central-meta item">
                    <div class="user-post" style="margin-bottom: -15px">
                      <div class="friend-info">
                        <figure>
                          <img src="{{user.avatar}}" alt="">
                        </figure>
                        <div class="friend-name">
                          <ins><a href="time-line.html" title=""></a>{{user.fullName}}</ins>
                          <span style="font-size: 12px; margin-top: -3px">{{(p.createDate)| date:"EEE, MMM d"}}
                            <span [ngSwitch]="p.permissionPost" style="font-size: medium; margin-left: 3px">
                            <i class="fa fa-globe" aria-hidden="true" *ngSwitchCase="'public'"></i>
                            <i class="fa fa-users" aria-hidden="true" *ngSwitchCase="'friend'"></i>
                            <i class="fa fa-lock" aria-hidden="true" *ngSwitchCase="'private'"></i>
                          </span></span>
                        </div>
                        <div class="post-meta">
                          <div class="description">
                            <p style="color:#7a7a7a;font-size: large">{{p.content}}</p>
                          </div>
                          <p><img src="{{p.imageName}}" alt="" *ngIf="p.imageName != ''"></p>
                          <div class="we-video-info">
                            <ul>
                              <li>
                                <span class="comment" data-toggle="tooltip" title="Comments">
                                  <i class="fa fa-comments-o"></i>
                                  <ins  *ngIf="p.commentCount != 0">{{p.commentCount}}</ins>
                                </span>
                              </li>
                              <li>
                                <span class="like" data-toggle="tooltip" title="like">
                                  <i class="ti-heart" *ngIf="!likeShow(p)" (click)="likePost(p.id)"></i>
                                  <i class="fa fa-heart" *ngIf="likeShow(p)" (click)="disLikePost(p.id)"></i>
                                  <ins *ngIf="p.likeCount != 0">{{p.likeCount}}</ins>
                                </span>
                              </li>
                              <li *ngIf="p.users!.id == idUserPresent">
                                  <span class="like" data-toggle="tooltip" title="update">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updatePostForm(p.id)"
                                     data-toggle="modal" data-target="#myModal"></i>
                                  </span>
                              </li>
                              <li *ngIf="p.users!.id == idUserPresent">
                                  <span class="like" data-toggle="tooltip" title="delete">
                                  <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePost(p.id)"></i>
                                  </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="coment-area">
                        <ul class="we-comet">
                          <li *ngFor="let cmt of getCommentByPost(p.id)" style="margin-bottom: 0">
                            <div class="comet-avatar">
                              <img [src]="cmt.users!.avatar" alt="" style="width: 45px">
                            </div>
                            <div class="we-comment">
                              <div class="coment-head">
                                <h5><a routerLink="/timeLine/{{cmt.users!.id}}" title="">{{cmt.users!.fullName}}</a></h5>
                                <span>{{cmt.dateCreate | date:"EEE, MMM d"}}</span>
                                <a class="we-reply" title="Reply" *ngIf="checkFriend() || (p.users!.id == idUserPresent)" (click)="showReplyCmt(cmt.id)"><i class="fa fa-reply"></i></a>
                                <span  class="like" data-toggle="tooltip" title="like">
																<i class="ti-heart" *ngIf="!likeShowComment(cmt)" (click)="likeComment(cmt.id)" style="font-size: 13px"></i>
                                <i class="fa fa-heart" *ngIf="likeShowComment(cmt)" (click)="disLikeComment(cmt.id)"
                                   style="color: green; font-size: 13px"></i>
																<ins *ngIf="cmt.likeCount != 0" style="text-decoration: none; margin-left: 2px">{{cmt.likeCount}}</ins>
                                </span>
                                <a class="we-reply" title="Update" *ngIf="cmt.users!.id == idUserPresent">
                                  <label for="contentCmt{{cmt.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="showUpdateCommentForm(cmt)"></i></label></a>
                                <a class="we-reply" title="Delete" *ngIf="cmt.users!.id == idUserPresent">
                                  <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteComment(cmt.id)"></i></a>
                              </div>
                              <p style="font-size: inherit" id="cmtContent{{cmt.id}}">{{cmt.content}}</p>
                              <form  id="cmt{{cmt.id}}" style="display: none">
                                <textarea id="contentCmt{{cmt.id}}" class="comment-form-textarea" required minlength="1" name="name"
                                          (keydown.enter)="updateComment(cmt.id,$event)"
                                          (keydown.escape)="hideUpdateCommentForm(cmt.id)">{{cmt.content}}</textarea>

                              </form>
                            </div>
                            <!--                            // CHild comment-->
                            <ul>
                              <li *ngFor="let cmtChild of getCommentChildByComment(cmt.id)">
                                <div class="comet-avatar">
                                  <img [src]="cmtChild.users!.avatar" alt="" style="width: 35px; margin-left: 6px">
                                </div>
                                <div class="we-comment">
                                  <div class="coment-head">
                                    <h5><a routerLink="/timeLine/{{cmtChild.users!.id}}" title="">{{cmtChild.users!.fullName}}</a></h5>
                                    <span>{{cmtChild.dateCreate | date:"EEE, MMM d"}}</span>
                                    <label for="childCmtContent{{cmt.id}}"><a class="we-reply" title="Reply" *ngIf="checkFriend() || (p.users!.id == idUserPresent)" (click)="showReplyCmt(cmt.id)"><i class="fa fa-reply"></i></a></label>
                                    <span  class="like" data-toggle="tooltip" title="like">
																<i class="ti-heart" *ngIf="!likeShowComment(cmtChild)" (click)="likeComment(cmtChild.id)" style="font-size: 13px"></i>
                                <i class="fa fa-heart" *ngIf="likeShowComment(cmtChild)" (click)="disLikeComment(cmtChild.id)"
                                   style="color: green; font-size: 13px"></i>
																<ins *ngIf="cmtChild.likeCount != 0" style="text-decoration: none; margin-left: 2px">{{cmtChild.likeCount}}</ins>
                                </span>
                                    <a class="we-reply" title="Update" *ngIf="cmtChild.users!.id == idUserPresent">
                                      <label for="contentCmt{{cmtChild.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="showUpdateCommentForm(cmtChild)"></i></label></a>
                                    <a class="we-reply" title="Delete" *ngIf="cmtChild.users!.id == idUserPresent">
                                      <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteComment(cmtChild.id)"></i></a>
                                  </div>
                                  <p style="font-size: inherit" id="cmtContent{{cmtChild.id}}">{{cmtChild.content}}</p>
                                  <form  id="cmt{{cmtChild.id}}" style="display: none">
                                <textarea id="contentCmt{{cmtChild.id}}" class="comment-form-textarea" required minlength="1" name="name"
                                          (keydown.enter)="updateComment(cmtChild.id,$event)"
                                          (keydown.escape)="hideUpdateCommentForm(cmtChild.id)">{{cmtChild.content}}</textarea>
                                  </form>
                                </div>
                              </li>
                              <li id="reply{{cmt.id}}" class="post-comment" style="display: none; margin-bottom: 10px">
                                <div class="comet-avatar">
                                  <img [src]="userPresent.avatar" alt="" style="margin-left: 6px">
                                </div>
                                <div class="post-comt-box">
                                  <form method="post">
                                    <textarea id="childCmtContent{{cmt.id}}" placeholder="Post your comment"
                                              (keydown.enter)="createCommentChild(p.id,cmt.id,$event)"
                                              (keydown.escape)="hideReply(cmt.id)"
                                    ></textarea>
                                  </form>
                                </div>
                              </li>
                            </ul><!-- child comment -->
                          </li>
                          <li class="post-comment" *ngIf="checkFriend() || (p.users!.id == idUserPresent)">
                            <div class="comet-avatar">
                              <img [src]="userPresent.avatar" alt="" style="max-width: 40px">
                            </div>
                            <div class="post-comt-box">
                              <form method="post" [formGroup]="formComment">
                                <textarea id="comment" placeholder="Post your comment" formControlName="comment" (keydown.enter)="createComment(p.id,$event)"></textarea>
                              </form>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- centerl meta -->
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget friend-list stick-widget">
                    <h4 class="widget-title" style="margin-bottom: 30px">Friends</h4>
                    <div id="searchDir"></div>
                    <ul id="people-list" class="friendz-list">
                      <li  *ngFor="let f of friendList">
                        <figure>
                          <img src="{{f.avatar}}" alt="">
                          <span class="status f-online"></span>
                        </figure>
                        <div class="friend-meta">
                          <h4 style="width: 150px"><a routerLink="/timeLine/{{f.id}}">{{f.fullName}}</a></h4>
                        </div>
                      </li>
                    </ul>
                  </div><!-- friends list sidebar -->
                </aside>
              </div><!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="side-panel">
  <h4 class="panel-title">General Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>use night mode</span>
      <input type="checkbox" id="nightmode1"/>
      <label for="nightmode1" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Notifications</span>
      <input type="checkbox" id="switch22" />
      <label for="switch22" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Notification sound</span>
      <input type="checkbox" id="switch33" />
      <label for="switch33" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>My profile</span>
      <input type="checkbox" id="switch44" />
      <label for="switch44" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Show profile</span>
      <input type="checkbox" id="switch55" />
      <label for="switch55" data-off-label="OFF"></label>
    </div>
  </form>
  <h4 class="panel-title">Account Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>Sub users</span>
      <input type="checkbox" id="switch66" />
      <label for="switch66" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>personal account</span>
      <input type="checkbox" id="switch77" />
      <label for="switch77" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Business account</span>
      <input type="checkbox" id="switch88" />
      <label for="switch88" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Show me online</span>
      <input type="checkbox" id="switch99" />
      <label for="switch99" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Delete history</span>
      <input type="checkbox" id="switch101" />
      <label for="switch101" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Expose author name</span>
      <input type="checkbox" id="switch111" />
      <label for="switch111" data-off-label="OFF"></label>
    </div>
  </form>
</div><!-- side panel -->
